{% extends 'base.html' %}

{% block title %}Item List{% endblock %}

{% block content %}
    <h1>Item List</h1>
    <ul>
        {% for item in items %}
        <li>
            <a href="{% url 'item' item.pk %}">
                <div class="item-info">
                    <img src="{{ item.image.url }}" alt="Item Image">
                    <p><strong>ID:</strong> {{ item.pk }}</p>
                    <p><strong>Name:</strong> {{ item.name }}</p>
                    <p><strong>Store:</strong> {{ item.store.name }}</p>
                    <p><strong>Count:</strong> {{ item.count }}</p>
                    <p><strong>Price:</strong> ${{ item.price }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
